@use '../foundation' as *;

.c-btn {
  padding: prem(14) prem(60);
  display: inline-block;
  font-size: prem(15);
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: prem(50);
  background-color: #fff;
}

// Modifier
.c-btn.c-btn--black {
  color: #fff;
  background-color: #000;
}

.btnBlock01 {
  margin-bottom: rem(20);
  margin-top: rem(20);
  @include mq(md){
    margin-top: rem(30);
    margin-bottom: rem(30);
  }
}

.btn--black {
  border: 1px solid #ccc;
  padding:  rem(60) 0;
  text-align: center;
  background: $color-green;
  box-sizing: border-box;
  font-size:  rem(52);
  font-weight: 700;
  color: $color-white;
}

.btnWFull {
  width: 100%;
  display: inline-block;
}
