@use '../foundation' as *;

.l-contact {
  margin-bottom: rem(50);
  @include mq(md){
    margin:  rem(60) 0;
  }
}

#contact {
  .l-contact {
    margin-bottom: rem(50);
    @include mq(md){
      margin-top: rem(0);
      margin-bottom: rem(60);
    }
  }
}
