@use '../foundation' as *;

.l-terms {
  margin-bottom: rem(100);
<<<<<<< HEAD
=======
  position: relative;
>>>>>>> 8b88864 (first commit)
  @include mq(md){
    // margin:  rem(60) 0;
    margin-bottom: rem(44);
  }
}
