@use '../foundation' as *;

.p-about {
}

.p-about__inner {
}

.inner {
}

.p-about__wrap {
}

.p-about__title {
    margin-bottom: rem(20);
    @include mq(md) {
        margin-bottom: rem(28);
    }
}

.p-about__text {
    border-radius: rem(20);
    margin-bottom: rem(60);
    padding: rem(13) rem(22) rem(28);
    background-color: $color-background;
    @include mq(md) {
        padding: rem(25) rem(60);
        margin-bottom: rem(130);
    }
}

.p-about__img {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: rem(30);
    padding: rem(30) 0;
    @include mq(md) {
        width: per(728, 1280);
        margin-bottom: rem(115);
    }
    img {
        aspect-ratio: 393/140;
        object-fit: cover;
        height: auto;
        @include mq(md) {
            aspect-ratio: 786/280;
        }
    }
}

.p-about__text-box {
    margin-bottom: rem(46);
    @include mq(md) {
        margin-bottom: rem(120);
    }
}

.p-about__subtitle {
    font-size: rem(24);
    font-weight: 400;
}
.p-about__subtitle-map {
    font-size: rem(24);
    font-weight: bold;
    text-align: center;
    @include mq(md){
        font-size:  rem(40);
    }
}

.p-about__note {
}
.p-about__note dl {
    position: relative;
    margin: 0 auto rem(22);
    @include mq(md) {
        padding-top: rem(20);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        width: 100%;
        background-color: $color-green;
    }
}

.p-about__note dt {
    display: flex;
    align-items: center;
    .entry-item-tag {
        color: $color-white;
        font-size: rem(12);
        align-items: center;
        display: flex;
        margin-left: rem(30);
        padding: rem(5) rem(10);
        border-radius: rem(5);
    }
}
.p-about__note dl dt {
    left: 0;
    width: auto;
    padding: 10px 0 0px;
    margin: 0;
    font-weight: bold;
    @include mq(md) {
        position: absolute;
        left: rem(53);
        width: rem(300);
        padding: rem(13) 0 0;
        margin: rem(10) 0 0;
    }
}
.p-about__note dl dd {
    min-height: 0;
    padding: 0 0 10px;
    margin: 5px 0 0;
    border-bottom: dotted 1px #d4d4d4;
    position: static;
    font-weight: bold;
    &:first-child {
        border-top: none;
    }

    a {
        display: block;
    }

    @include mq(md) {
        min-height: 40px;
        padding-top: rem(13);
        padding-left: rem(250);
        margin: rem(10) rem(53) 0;
    }
}

.p-about__topics-list {
}

.p-about__blog-list {
}

.p-about__content {
    @include mq(md) {
        display: flex;
        justify-content: center;
    }
}

.p-about__content-img {
    max-width: rem(715);
    img {
        aspect-ratio: 715/758;
        object-fit: cover;
        height: auto;
    }
}

.p-about__left-column {
    border: solid 1px $color-green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: rem(234);
    @include mq(mw) {
        margin-bottom: rem(9);
    }
    @include mq(md) {
        width: per(600, 1280);
        height: rem(745);
    }
}
.p-about__left-column h4 {
    font-size: rem(16);
    margin-bottom: rem(30);
    font-weight: 400;
    @include mq(md) {
        margin-bottom: rem(82);
    }
}

.p-about__left-text {
    @include mq(md) {
        font-weight: 700;
    }
    .listMemo01 {
        font-size: rem(20);
        font-weight: 400;
    }
}

.p-about__left-title {
    margin-left: rem(50);
    margin-right: rem(50);
    @include mq(md) {
        margin-bottom: rem(135);
    }
}

.p-about__right-column {
    border: solid 1px $color-green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: rem(234);
    @include mq(md) {
        width: per(648, 1280);
        height: rem(745);
    }
}

.p-about__text--main {
    text-align: center;
    margin-bottom: rem(70);
    @include mq(md) {
        margin-bottom: rem(120);
    }
}

.p-about__text--main h2 {
    font-family: 'Shippori Mincho', serif;
    font-weight: 500;
    @include mq(mw) {
        font-size: rem(20);
        .xl {
            font-size: rem(42);
        }
        .l {
            font-size: rem(32);
            margin: 0;
        }
    }
    span {
        // font-weight: bold;
        margin: 0 rem(10);
        // font-size: rem(30);
        // font-size: rem(40);
        // @include mq(md) {
        //     font-size: rem(42);
        // }

        .red {
            color: #e94f21;
        }
    }
}

.p-about__listBox {
    margin-bottom: rem(100);
    @include mq(md) {
        margin-bottom: rem(140);
    }
}

.p-about-list {
    counter-reset: number;
}

.p-about-list__item {
    background-color: $color-background;
    border-radius: rem(20);
    padding: rem(20);
    @include mq(md) {
        padding: rem(30);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.p-about-list__item + .p-about-list__item {
    margin-top: rem(70);
    @include mq(md) {
        margin-top: rem(100);
    }
}

.p-about-list__item:nth-of-type(even) {
    flex-direction: row-reverse;
}

.p-about-list__item-img {
    width: 100%;
    @include mq(md) {
        max-width: rem(600);
    }
}

.p-about-list__item:nth-of-type(even) .p-about-list__item-img {
    @include mq(md) {
        margin-left: rem(80);
    }
}

.p-about-list__item-img img {
    width: 100%;
    aspect-ratio: 613/400;
    object-fit: cover;
    border-radius: rem(20);
}

.p-about-list__item-text-wrap {
    margin-top: rem(20);
    max-width: rem(500);
    width: 100%;
    position: relative;
    @include mq(md) {
        padding-top: rem(110);
        margin-top: 0;
        margin-left: rem(45);
    }
}

.p-about-list__item:nth-of-type(even) .p-about-list__item-text-wrap {
    margin-left: 0;
    @include mq(md) {
        margin-left: 0;
    }
}

// .p-about-list__item-head {
//     display: flex;
//     position: relative;
// }

.p-about-list__item-text-wrap .num {
    @include mq(md) {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-weight: bold;
        font-size: rem(35);
        line-height: 1;
        width: clamp(rem(80), 10vw, rem(120));
        height: clamp(rem(80), 10vw, rem(120));
        border-radius: 50%;
        background-color: rgb(0, 137, 14, 0.7);
        color: $color-white;
        font-family: 'inter';
        font-size: rem(40);
    }
}
.p-about-list__item-title {
    font-size: rem(20);
    line-height: 1.3;
    margin-bottom: rem(20);
    position: relative;
    display: flex;
    align-items: center;
    font-size: rem(24);

    @include mq(mw) {
        justify-content: center;
    }
    @include mq(md) {
        text-shadow: 0 0 8px rgb(252, 246, 246);
        font-size: rem(40);
        margin-top: rem(-30);
        margin-left: rem(80);
        margin-bottom: rem(50);
    }
}

.p-about-list__item-title::before {
    @include mq(mw) {
        counter-increment: number;
        content: counter(number, decimal-leading-zero);
        font-size: rem(24);
        line-height: 1;
        width: rem(60);
        height: rem(60);
        border-radius: 50%;
        background-color: rgb(0, 137, 14, 0.7);
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: rem(10);
    }
}

.p-about-list__item-text {
    line-height: 1.6;
    font-size: rem(20);
    @include mq(md) {
        margin-left: rem(80);
        font-size: rem(24);
    }
}
