@use '../foundation' as *;

.p-contact {
}

.p-contact__inner {
}

.p-contact__title {
    line-height: 1.5;
    margin-bottom: rem(50);
    @include mq(md) {
        line-height: calc(48 / 40);
        margin-bottom: rem(24);
    }
}
.p-contact__text-top {
    font-weight: 400;
    margin-bottom: rem(42);
    @include mq(md) {
        font-size: rem(20);
    }
}

.p-contact__text {
    text-align: left;
    font-weight: 400;
    @include mq(md) {
        text-align: center;
        font-size: rem(20);
    }
}

.p-contact__form {
}

//コンプラ
.note_block {
    border: 1px solid #cccccc;
    clear: both;
    height: 200px;
    overflow: auto;
    padding: 10px;
    margin-bottom: 50px;
    @include mq(md) {
        padding: 10px 60px;
    }
}
h3.privacy-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
