@use "../foundation" as *;

.p-contact-botton__menu {

}

.p-contact-botton__menu-list {

  @include mq(md){
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.p-contact-botton__menu-item {
  color: $color-white;
  background-color: $color-orange;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px #00000040;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  width: 100%;
  font-size: rem(32);
  line-height: calc(40 / 30);
  padding: rem(30) 0;
  &:not(:last-child){
    margin-bottom: rem(20);
  }
  @include mq(md) {
    width: per(594, 1280);
    font-size: rem(40);
    line-height: calc(48 / 40);
    padding: rem(33) rem(72);
    &:not(:last-child){
      margin-bottom: rem(0);
    }
  }
}

.p-contact-botton__menu-link {
}
