@use '../foundation' as *;

.p-form__wrap {
  @include mq(md){
      display: flex;
      align-items: center;
  }
}

.p-form__wrap.p-form__wrap--textarea {
  @include mq(md){
      align-items: flex-start;
  }
}

.p-form__wrap + .p-form__wrap {
  margin-top: rem(30);
}

.p-form__label {
  font-size: rem(15);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.08em;
  @include mq(md){
      max-width: rem(200);
      width: 100%;
  }
}

.p-form__wrap.p-form__wrap--textarea .p-form__label {
  @include mq(md){
      margin-top: rem(10);
  }
}

.p-form__label span {
margin-left: rem(20);
  padding: rem(5);
  display: inline-block;
  font-size: rem(12);
  color: #fff;
  background-color: #D00000;
  @include mq(md){
    margin-left: rem(50);
  }
}

.p-form__input,
.p-form__select,
.p-form__radio,
.p-form__checkbox,
.p-form__textarea {
  margin-top: rem(10);
  @include mq(md){
      margin-top: 0;
  }
}

.p-form__input,
.p-form__textarea {
  flex-grow: 1;
}

.p-form__submit {
  margin-top: rem(60);
  text-align: center;
}
