@use "../foundation" as *;

.p-form-select {
  flex-grow: 1;
  @include mq(md){
    text-align: end;
  }
}

.p-form-select select {
  padding: rem(18) rem(15);
  width: 100%;
  font-size: rem(15);
  line-height: 1;
  background-image: url(./../img/common/arrow_selector.svg);
  background-repeat: no-repeat;
  background-size: rem(26);
  background-position: right rem(15) top rem(15);
  appearance: none;
  border-radius: rem(10);
  background-color: #FF07B929;
  border: 1px solid #ff0707;
  cursor: pointer;
  @include mq(md){
    background-color: #ff070738;
    width: per(856, 1080);
  }
}

.p-form-select select option {
  color: #00000069;
}
.p-form-select select::-ms-expand {
  display: none;
}

.p-form-select select:focus {
  border: 1px solid #ccc;
  box-shadow: none;
  outline: none;
}
