@use '../foundation' as *;

.p-feature {
  background-color: $color-background;
}

.l-feature {

  @include mq(md){
    padding:  rem(40);
  }
}

.p-feature__inner {

}

.inner {

}

.p-feature__wrap {

}

.p-feature__title {
  margin-bottom: rem(50);
  @include mq(md){
    margin-bottom: rem(80);
  }
}


.main-title {

}
