@use '../foundation' as *;

.p-price-calculator__result {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow: auto;
    height: 100vh;
    z-index: 1001;
    @include mq(md) {
        overflow: hidden;
    }
}

.p-modal {
    padding: rem(100) 0;
    display: none;
    height: 100%;
    overflow-y: auto;
}

.p-modal__close-button {
    position: fixed;
    top: 5%;
    right: 0;
    margin: 0;
    padding: rem(20) rem(35);
    outline: none;
    border: none;
    font-size: rem(13);
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: rem(10);
    background-color: $color-orange;
    cursor: pointer;
    z-index: 1002;
    @include mq(md) {
        right: 10%;
        top: rem(50);
        padding: rem(25) rem(40);
    }
}

.p-modal__inner {
    margin: auto;
    padding: rem(20);
    padding-top: rem(50);
    padding-bottom: rem(50);
    width: 100%;
    background-color: $color-white;
    box-shadow: 0 0 6px rgba($color: #1b1310, $alpha: 0.4);
    position: relative;
    @include mq(mw) {
        // max-height: 80vh; /* ビューポートの高さの80%を最大高さとする */
        // overflow-y: auto; /* 縦方向にコンテンツがオーバーフローしたらスクロールバーを表示 */
    }
    @include mq(md) {
        padding: rem(50);
        max-width: rem(1000);
    }
}

.p-modal__inner {
    .main-title {
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: '';
            background-image: url('../img/icon/fee_icon.svg');
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            width: rem(40);
            height: rem(40);
            margin-right: rem(10);
        }
    }
}

/*===================================
 * calculator
===================================*/
.p-price-calculator__result-content {
    max-width: rem(645);
    margin: 0 auto;
}

.p-price-calculator__result-head {
    padding-bottom: rem(20);
    border-bottom: 2px solid $color-green;
    @include mq(md) {
        display: flex;
    }
}

.p-price-calculator__result-head .col1 {
    font-size: rem(28);
    text-align: center;
    color: $color-green;
    @include mq(md) {
        width: 65%;
        padding-left: rem(10);
        text-align: left;
    }
}
.p-price-calculator__result-head .col2 {
    font-size: rem(28);
    text-align: center;
    @include mq(md) {
        width: 35%;
        padding-right: rem(40);
        text-align: right;
    }
}

.p-price-calculator__result-body {
    font-size: rem(21);
    // margin-top: rem(15);
    margin-top: rem(30);
    @include mq(md) {
        display: flex;
        align-items: center;
        // height: rem(101);
    }
}

.p-price-calculator__result-body .head {
    height: 100%;
    text-align: center;
    padding-top: rem(35);
    padding-bottom: rem(35);
    @include mq(md) {
        width: rem(110);
        border-right: 1px solid #b3b3b3;
        box-sizing: border-box;
    }
}

.p-price-calculator__result-body .body {
    @include mq(md) {
        width: rem(468);
        padding-left: rem(30);
    }
}
.p-price-calculator__result-body .body .row {
    height: rem(50);
    line-height: rem(50);
    border-bottom: 1px dashed #b3b3b3;
}

.row {
    display: flex;
    align-items: center;
}

.row p {
    width: 50%;
}

.t_left {
    text-align: left;
    small {
        font-size: rem(12);
    }
}

.t_right {
    text-align: right;
}

.p-price-calculator__text {
    margin-top: rem(50);
    border-bottom: 2px solid $color-green;
    font-size: rem(16);
    @include mq(md) {
        margin-top: rem(70);
    }
}

.p-price-calculator__text-small {
    font-size: rem(16);
    margin-bottom: rem(30);
    margin-top: rem(20);
    @include mq(md) {
        font-size: rem(20);
        margin-bottom: rem(50);
    }
}

#priceResult {
    font-weight: bold;
}

.p-price-calculator__box {
    background-color: $color-orange;
    // height: rem(160);
    margin-top: rem(30);
    border-radius: rem(10);
    display: flex;
    align-items: center;
    // justify-content: center;
    padding: rem(20);
    @include mq(md) {
        max-width: rem(1000);
        margin-right: auto;
        margin-left: auto;
    }
}

.dl_Block01 {
    max-width: rem(800);
    margin-right: auto;
    margin-left: auto;
    dl {
        color: $color-white;
        font-size: rem(20);
        text-align: center;
        display: flex;
        align-items: center;
        // justify-content: center;
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
        @include mq(md) {
            font-size: rem(32);
        }
    }
    dt {
        font-weight: bold;
        font-size: clamp(rem(14), 2vw, rem(16));
        @include mq(md) {
            font-size: rem(32);
            margin-right: rem(50);
            margin-bottom: rem(0);
        }
    }
}

.border {
    border: 1px solid #b3b3b3;
    margin: rem(50) 0;
}

#footer.contact-confirm {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*===================================
 * 計算結果スタイル
===================================*/

#resultHead {
    .col1 {
        @include mq(md) {
            width: 40%;
        }
    }
    .col2 {
        @include mq(md){
            padding-right: rem(20);
        }
    }
}

#resultBody {
    .t_left {
        width: 35%;
    }
    .t_right {
        padding-right: rem(20);
        @include mq(md) {
            width: 35%;
        }
    }

    .p-price-calculator__monthlyFee2 {
        width: 35%;
        @include mq(md){
            width: 30%;

        }
    }
}
.p-price-calculator__monthlyFee2 {
    font-size:  rem(16);
    @include mq(md){
        font-size:  rem(21);

    }
}

.p-price-calculator__monthlyCost3 {
    display: flex;
    align-items: center;
    font-size: rem(24);
    justify-content: center;
    @include mq(md) {
        width: 25%;
        justify-content: flex-end;
    }
}
