@use '../foundation' as *;

.p-product {
}

.p-product__inner {
}

.inner {
}

.p-product__wrap {
}

.p-product__title {
    display: flex;
    align-items: center;
    justify-content: center;
  margin-bottom: rem(20);
    @include mq(md){
      margin-bottom: rem(30);
    }
    .num img {
        aspect-ratio: 67/96;
        object-fit: cover;
        height: auto;
    }

    .num {
      margin-right: rem(6);
    }
}

.p-product__text {
    text-align: center;
    font-weight: bold;
}

.p-product__list {
  margin-top: rem(30);
  display: grid;
  justify-content: center;
    @include mq(md) {
      margin-top: rem(40);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.p-product-list__item {
    background-image: url('../img/product/product-item.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: rem(300);
    height: rem(300);
    font-weight: bold;
    color: #f24e1e;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mq(-sm){
      &:not(:last-child) {
        margin-bottom: rem(30);

    }
  }
}

.p-product-list__item-title {
    font-size: rem(24);
    margin-bottom: rem(20);
}

.p-product-list__item-text {
    font-size: rem(28);
}
