@use "../foundation" as *;

.p-pagenavi__inner {
  margin: auto;
  padding: 0 rem(10);
  max-width: rem(600);
  width: 100%;
  @include mq(md) {
    padding: 0 rem(25);
    max-width: rem(1200);
  }
}

.p-pagenavi .wp-pagenavi {
  clear: both;
  text-align: center;
  display: flex;
  justify-content: space-between;
  @include mq(md){
    width: per(530, 1280);
    margin: 0 auto;
  }
}

.p-pagenavi .wp-pagenavi a,
.p-pagenavi .wp-pagenavi span {
  display: inline-block;

  font-size: rem(20);
  line-height: 1;
  white-space: nowrap;
  background-color: #d9d9d9;
  transition: 0.3s;
}

.p-pagenavi .larger {
  border-radius: rem(90);
  padding: rem(15) rem(40);
  // margin-left: rem(20);
  // margin-right: rem(20);
  @include mq(md) {
    // margin-left: rem(120);
    // margin-right: rem(120);
  }
}
.p-pagenavi .nextpostslink {
  border-radius: 50%;
  width: rem(54);
  height: rem(54);
  padding: rem(15);
  position: relative;
  &::before {
    // 矢印アイコン
    content: "";
    display: inline-block;
    width: rem(18);
    height: rem(18);
    border-top: rem(3) solid $color-black;
    border-right: rem(3) solid $color-black;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%) rotate(45deg);
    @include mq(md) {
      width: rem(18);
      height: rem(18);
    }
  }
  &:hover::before {
    border-top-color: $color-white; // :hover 状態での枠線の色
    border-right-color: $color-white; // :hover 状態での枠線の色
  }
}
.p-pagenavi .previouspostslink {
  border-radius: 50%;
  width: rem(54);
  height: rem(54);
  padding: rem(15);
  position: relative;
  &::before {
    // 矢印アイコン
    content: "";
    display: inline-block;
    width: rem(18);
    height: rem(18);
    border-top: rem(3) solid $color-black;
    border-right: rem(3) solid $color-black;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-135deg);
    @include mq(md) {
      width: rem(18);
      height: rem(18);
    }
  }
  &:hover::before {
    border-top-color: $color-white; // :hover 状態での枠線の色
    border-right-color: $color-white; // :hover 状態での枠線の色
  }
}

.p-pagenavi .wp-pagenavi a:hover {
  color: $color-white;
  background-color: $color-green;
  border-color: $color-green;
  opacity: 1;
}

.p-pagenavi .wp-pagenavi .current {
  color: $color-white;
  background-color: $color-green;
  border-color: $color-green;
}


.p-pagenavi{
  .page.larger{
    display: flex;
    align-items: center;
  }

}


// ボタンの非活性
.p-pagenavi .wp-pagenavi a.inactive {
  color: $color-white;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
