@use '../foundation' as *;

.p-product {
}

.p-product__inner {
}

.inner {
}

.p-product__wrap {
}

.p-product__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(20);
    @include mq(mw) {
        font-size: rem(40);
    }
    @include mq(md) {
        margin-bottom: rem(30);
    }
    .num img {
        aspect-ratio: 67/96;
        object-fit: cover;
        height: auto;
    }

    .num {
        margin-right: rem(6);
    }
}

.p-product__text {
    text-align: center;
    font-weight: bold;
}

.p-product__list {
    margin-top: rem(30);
    display: flex;
    justify-content: center;
    gap: clamp(rem(10), 1vw, rem(24));
    flex-wrap: wrap;
    @include mq(md) {
        flex-wrap: nowrap;
        margin-top: rem(40);
        justify-content: space-between;
    }
}

.p-product-list__item {
    background-image: url('../img/product/product-item.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: bold;
    width: rem(170);
    height: rem(170);
    color: #f24e1e;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 8px rgb(239, 237, 237);
    @include mq(md) {
        width: rem(300);
        height: rem(300);
    }
}

.p-product-list__item-title {
    margin-bottom: rem(10);
    font-size: rem(16);
    @include mq(md) {
        font-size: rem(24);
    }
}

.p-product-list__item-text {
    font-size: rem(16);
    @include mq(md) {
        font-size: rem(28);
    }
}
