@use "../foundation" as *;

#recruit {
  h3.main-title {
    font-size:  rem(40);
  }
  @include mq(md) {
    // padding: rem(60) rem(30);
  }
}
.p-recruit__title {
  color: $color-white;
  background-color: $color-green;
  padding: rem(15) rem(30);
  text-align: center;
  margin-bottom: rem(60);
  @include mq(md) {
    text-align: left;
    margin-bottom: rem(60);
  }
}

.p-recruit-vision {
  margin-left: auto;
  width: 93%;
  margin-bottom: rem(84);
  @include mq(md) {
    margin-left: auto;
    width: 93%;
    margin-bottom: rem(84);
  }
}

.p-recruit__profile{
  margin-bottom: rem(30);
  @include mq(md){
    margin-bottom: rem(40);
  }
}

.p-recruit-profile__list {
  padding-bottom: rem(15);

  font-size: rem(13);
  line-height: 1.3;
  letter-spacing: 0.08em;
  border-bottom: 1px solid #D9D9D9;
  @include mq(md) {
    display: flex;
    padding-bottom: rem(25);
    font-size: rem(16);
  }
}

.p-recruit-profile__list + .p-recruit-profile__list {
  margin-top: rem(15);
  @include mq(md) {
    margin-top: rem(25);
  }
}

.p-recruit-profile__term {
  max-width: rem(120);
  width: 100%;
  flex-shrink: 0;
  color: $color-green;
  font-weight: 700;
  font-size: rem(20);
  text-align: center;
  margin-bottom: rem(22);
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    margin: 0;
    text-align: left;
    max-width: rem(140);
  }
}

.p-recruit-profile__description {
  font-size: rem(20);

  &.lh2 {
    line-height: 2;
  }
}

.p-recruit-list__item + .p-recruit-list__item {
  margin-top: rem(30);
  @include mq(md){
    margin-top: rem(20);
  }
}

/*===================================
 * recruit-Q&A
===================================*/
.p-recruit-list__item-question {
  padding: rem(12) rem(40) rem(12) rem(40);
  position: relative;
  font-size: rem(15);
  text-indent: rem(-20);
  cursor: pointer;
  @include mq(md) {
    padding: rem(14) rem(60) rem(14) rem(50);
    font-size: rem(18);
  }
}


.p-recruit-list__item-question span {
  margin-right: rem(20);
  display: inline-block;
  color: $color-green;
  font-weight: 700;
}

.p-recruit-list__item-answer {
  padding: rem(15) rem(30) rem(15) rem(40);
  font-size: rem(15);
  text-indent: rem(-20);
  @include mq(md) {
    padding: rem(20) rem(40) rem(15) rem(50);
    font-size: rem(18);
  }
}

.p-recruit-list__item-answer span {
  margin-right: rem(20);
  display: inline-block;
  color: #de8430;
}
