@use '../foundation' as *;

.p-staff-about {
}

.p-staff-about__inner {
}

.p-staff-about__wrap {
}

.p-staff-about__title {
    margin-bottom: rem(40);
    @include mq(md){
        margin-bottom: rem(60);
    }
}


.p-staff-about__text-top {
    font-size:  rem(15);
    margin-bottom: rem(20);
    @include mq(md){
        margin-bottom: rem(30);
        padding-left: rem(55);
        font-size:  rem(28);
    }
}

.p-staff-about__text--bottom {
}
