@use '../foundation' as *;

.p-staff-info {
}

.p-staff-info__inner {
}

.p-staff-info__wrap {
}

.p-staff-info__title {
    display: flex;
    align-items: center;
    margin-bottom: rem(30);
    font-size: rem(20);
    @include mq(md) {
        font-size: rem(40);
        justify-content: center;
    }
    // &::before {
    //     content: '';
    //     display: inline-block;
    //     width: rem(6);
    //     height: rem(24);
    //     background-color: $color-orange;
    //     margin-right: rem(8);
    //     @include mq(md) {
    //         margin-right: rem(20);
    //         width: rem(10);
    //         height: rem(65);
    //     }
    // }

    @include mq(md) {
        margin-bottom: rem(20);
    }
}

.p-staff-info__content {
    background-color: $color-background;
    border-radius: rem(10);
    padding: rem(30);
    &:not(:last-child) {
        margin-bottom: rem(30);
    }
    @include mq(md) {
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: rem(60);
        }
    }
}

.p-staff-info__textBox {
    width: 100%;
    // background-color: $color-background;
    // border-radius: rem(10);
    @include mq(md) {
        width: per(700, 1280);
        height: clamp(100%, 2vw, rem(300));
        // padding: rem(23) rem(20) rem(50) rem(20);
        padding: rem(20) rem(30);
        margin-left: rem(45);
    }
}

.p-staff-info__subTitle {
    font-size: rem(18);
    margin-bottom: rem(20);
    @include mq(md) {
        font-size: rem(24);
        // margin-bottom: rem(25);
    }
}

.p-staff-info__text {
    font-size: rem(16);
    @include mq(md) {
        font-size: rem(20);
        line-height: calc(24 / 20);
    }
}

.p-staff-img__content {
    @include mq(md) {
        display: flex;
        justify-content: space-between;
    }
}

.p-staff-info__img {
    border-radius: rem(5);
    overflow: hidden;
    margin-bottom: rem(10);
    @include mq(md) {
        width: per(400, 1280);
        margin-bottom: rem(0);
    }
    img {
        aspect-ratio: 400/ 300;
        object-fit: cover;
        height: auto;
    }
}

/*===================================
 * トップテキスト
===================================*/

.p-staff-hero {
}

.p-staff-hero__title {
    margin-bottom: rem(20);
    text-align: center;
    @include mq(md) {
        margin-bottom: rem(30);
    }
}
.p-staff-hero__wrap {
    background-color: $color-background;
    padding: rem(30);
    border-radius: rem(20);
    @include mq(md) {
        padding: rem(50);
    }
}

.p-staff-hero__text {
    line-height: 1.6;
    margin: 0 auto;
    @include mq(md) {
        width: per(820, 1280);
    }
}
