@use '../foundation' as *;

.p-staff-info {

}


.p-staff-info__inner {

}

.p-staff-info__wrap {

}

.p-staff-info__title {
  display: flex;
  align-items: center;
  margin-bottom: rem(30);
  @include mq(mw){
    justify-content: center;
  }
  &::before{
    content: '';
    display: inline-block;
    width: rem(6);
    height:  rem(24);
    background-color: $color-orange;
    margin-right: rem(8);
    @include mq(md){
      margin-right: rem(20);
      width: rem(10);
      height:  rem(65);
    }
  }

  @include mq(md){
    margin-bottom: rem(20);
  }
}


.p-staff-info__text {
  margin-bottom: rem(20);
  font-size:  rem(18);
  font-weight: 400;
  @include mq(md){
    font-weight: 700;
    font-size:  rem(20);
    line-height: calc(24 / 20);
    width: per(1254, 1280);
    margin-left: auto;
  }
}

.p-staff-img__content {
  @include mq(md){
    display: flex;
    justify-content: space-between;
  }
}

.p-staff-info__img {
  &:not(:last-child){
    margin-bottom: rem(15);
  }
  @include mq(md){
    width: per(621, 1280);
  }
  img {
    aspect-ratio: 621/ 434;
    object-fit: cover;
    height: auto;
  }
}
