@use '../foundation' as *;

.p-p-staff-value {
}

.l-p-staff-value {
}

.p-p-staff-value__inner {
}

.p-p-staff-value__wrap {
}

.p-staff-value__title {
    margin-bottom: rem(50);
    @include mq(md) {
        margin-bottom: rem(70);
    }
}

.p-staff-value__list {
    border-radius:  rem(10);
    background-color: $color-background;
    padding:  rem(20);
    @include mq(md) {
        padding:  rem(30);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


.p-staff-value-list {
    counter-reset: number;
}

.p-staff-value-list__item {
    @include mq(mw) {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }
    @include mq(md) {
        max-width: calc(33.333% - #{rem(70)} * 2 / 3);
        width: 100%;
    }

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
        @include mq(md) {
            margin-bottom: rem(50);
        }
    }
}

.p-staff-value-list__item-titleBox {
    display: flex;
    align-items: center;
    margin-bottom: rem(12);
    order: 2; // sp時2番目に
    @include mq(mw) {
        justify-content: center;
    }
    @include mq(md) {
        margin-bottom: rem(14);
    }
    .num::before {
        counter-increment: number;
        content: counter(number, decimal-leading-zero);
        font-size: rem(18);
        line-height: 1;
        width: rem(60);
        height: rem(60);
        border-radius: 50%;
        background-color: $color-orange;
        color: $color-white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mq(md) {
            font-size: rem(24);
        }
    }
}

.p-staff-value-list__item-title {
    margin-left: rem(10);
}

.p-staff-value-list__item-img {
    margin-bottom: rem(20);
    border-radius: rem(10);
    order: 1; //sp時1番上に
    img {
        border-radius: rem(10);
        aspect-ratio: 400/300;
        object-fit: cover;
        height: auto;
    }
}

.p-staff-value-list__item-text {
    font-size: rem(20);
    order: 3; // sp時3番目に
}
