@use '../foundation' as *;

.p-p-staff-value {
}

.l-p-staff-value {
}

.p-p-staff-value__inner {
}

.p-p-staff-value__wrap {
}

.p-staff-value__title {
    margin-bottom: rem(50);
    @include mq(md) {
        margin-bottom: rem(70);
    }
}

.p-staff-value__list {
    @include mq(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.p-staff-value-list {
    counter-reset: number;
}

.p-staff-value-list__item {
    @include mq(md) {
        max-width: calc(33.333% - #{rem(70)} * 2 / 3);
        width: 100%;
    }

    &:nth-of-type(1),
    &:nth-of-type(2) ,
    &:nth-of-type(3) {
        @include mq(md) {
            margin-bottom: rem(50);
        }
    }
}

.p-staff-value-list__item-titleBox {
    display: flex;
    align-items: center;
    margin-bottom: rem(12);
    @include mq(-sm) {
        justify-content: center;
    }
    @include mq(md) {
        margin-bottom: rem(14);
    }
    .num::before {
        counter-increment: number;
        content: counter(number, decimal-leading-zero);
        font-size: rem(18);
        line-height: 1;
        width: rem(60);
        height: rem(60);
        border-radius: 50%;
        background-color: #d9d9d9;
        color: $color-black;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mq(md) {
            font-size: rem(24);
        }
    }
}

.p-staff-value-list__item-title {
    font-weight: bold;
    font-size: rem(20);
    margin-left: rem(10);
    @include mq(md) {
        font-size: rem(24);
    }
}

.p-staff-value-list__item-img {
    margin-bottom: rem(20);
    border-radius: rem(10);
    img {
        border-radius: rem(10);
        aspect-ratio: 400/300;
        object-fit: cover;
        height: auto;
    }
}

.p-staff-value-list__item-text {
    font-size: rem(20);
}
