@use '../foundation' as *;

.p-staff-about {
}

.p-staff-about__inner {
}

.p-staff-about__wrap {
}

.p-staff-about__title {
    margin-bottom: rem(20);
}


.p-staff-about__text-top {
    margin-bottom: rem(30);
    padding-left: rem(55);
    font-size: rem(32);
    font-weight: bold;
}

.p-staff-about__text--bottom {
}
