@use '../foundation' as *;

.p-terms {

}


.p-terms__inner {

}


.p-terms__wrap {

}

.p-flow__title {

}


.p-terms__content {
  max-width: 100%;
  @include mq(md){
    margin: 0 auto;
    max-width: rem(1120);
  }
}

.p-terms__subtitle {
  font-weight: 700;
  margin-bottom: rem(10);
  @include mq(md){
    font-size:  rem(32);
    margin-bottom: rem(20);
  }
}

.p-terms__list  {
  margin-bottom: rem(20);
  @include mq(md){
    margin-bottom: rem(30);
  }
}

.p-terms__list li {
  font-weight: 400;
  @include mq(md){
    font-size:  rem(20);
  }

}
