@use '../foundation' as *;

.p-youtube {
    position: relative;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    cursor: pointer;
}

.p-youtube img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.p-youtube .youtube-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
